RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !.*logs.*
RewriteCond $1 !^(index\.php|logs|images|robots\.txt)

RewriteRule ^(.*)$ /clique/ausbildung/index.php/$1 [L]
